<!doctype html>
<html lang="fr">
<head>
    <title>CyVaX's Keypad</title>
    <link rel="icon" href="/images/favicon.ico" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type="text/javascript" src="/scripts/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<table>
    <tbody>
        <tr>
            <td><input type="button" id="button1" value=" "/></td>
            <td><input type="button" id="button2" value=" "/></td>
            <td><input type="button" id="button3" value=" "/></td>
        </tr>
        <tr>
            <td><input type="button" id="button4" value=" "/></td>
            <td><input type="button" id="button5" value=" "/></td>
            <td><input type="button" id="button6" value=" "/></td>
        </tr>
        <tr>
            <td><input type="button" id="button7" value=" "/></td>
            <td><input type="button" id="button8" value=" "/></td>
            <td><input type="button" id="button9" value=" "/></td>
        </tr>
    </tbody>
</table>
<body>
</body>
</html>
